@import "~bootstrap/scss/bootstrap";
.App {
  display: flex;
}
.availability {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 0.5px solid black;
}
.registrationCode {
  display: flex;
}
.scooterDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  .btnContainer button {
    min-width: 100px;
    margin: 3px;
  }
}

.col-4 .card {
  align-items: flex-start;
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

// .delete-message {
//   display: flex;
//   flex-direction: column;
// }
