@import "~bootstrap/scss/bootstrap";

$primary: #6366f1; // Indigo/Violet
$secondary: #a5b4fc; // Light Indigo
$success: #48bb78; // Softer Green
$danger: #e53e3e; // Muted Red
$warning: #f6ad55; // Warm Orange-Yellow
$light-gray: #f3f4f6; // Light Gray
$dark-gray: #4a5568; // Dark Gray

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-gray;
  width: 100%;
  .topBanner {
    width: 100%;
    height: 75px;
    background: linear-gradient(
      135deg,
      #6366f1,
      #a5b4fc
    ); /* Add a background */
    position: sticky; /* Make it stick */
    top: 0; /* Stick to the top */
    z-index: 100; /* Ensure it's above other content */
    .btn-close {
      top: -60px;
      right: -95%;
      box-shadow: none;
    }
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      height: 100%; /* Make the logo container fill the banner */
    }

    .logo-container img {
      display: block;
      max-height: 160px; /* Adjust logo size to fit banner height */
      max-width: 80%; /* Ensure it's not too wide */
    }

    .logo-container::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(circle, rgba(74, 207, 235, 0.3), transparent);
      filter: blur(50px);
      z-index: 0;
    }
  }
  .appBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    .heroContainer {
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100%;
      background-position: center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
      }

      .statisticContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        position: relative;
        z-index: 2;
        gap: 10px;

        .pieChart {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 350px;
          height: 350px;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.05); // Very light gray
          border: 1px solid #ddd;
          border-radius: 10px;
          position: relative;
          svg {
            overflow: visible;
          }
          .legend {
            margin-left: 10px;
            position: absolute;
            bottom: 10px;
            right: 10px;

            div {
              display: inherit;
              align-items: center;

              .free,
              .busy {
                width: 18px;
                height: 18px;
                border: 1px solid $dark-gray; // Dark Gray border
                margin-left: 5px;
              }

              .free {
                background-color: $success; // Use success green
              }

              .busy {
                background-color: $danger; // Use danger red
              }
            }
          }
        }

        .statisticsTable {
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 10px;
          width: 350px;
          height: 350px;
          background-color: rgba(0, 0, 0, 0.05); // Very light gray
          font-size: 1.1em;
          line-height: 1.6;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;

          p {
            margin: 10px 0;

            b {
              font-weight: bold;
            }
          }
        }
      }
      .create-footer {
        display: flex;
      }
    }

    .mainContainer {
      display: flex;
      gap: 30px;
      padding: 20px;
      .list {
        padding: 20px;
        border: 1px solid #eee;
        background-color: white; // Use white for cards
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .list-header {
          display: flex;
          align-items: center;
          justify-content: space-around;
          h5 {
            margin-bottom: 0;
          }
          .sortContainer {
            display: inherit;
            align-items: inherit;
            p {
              margin-bottom: 0;
            }
          }
        }
        .list-group-item {
          padding: 10px;
          .registrationCode {
            .codeContainer {
              display: flex;
              gap: 10px;
              p {
                margin-bottom: 0;
              }
            }
          }
          .scooterDetails {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .isBusy {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .availability {
                width: 20px;
                height: 20px;
                border-radius: 50px;
                border: 0.5px solid $dark-gray; // Dark Gray border
              }
            }
            .lastUseTime {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            .totalRideKilometers {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            .btnContainer button {
              margin: 3px;
            }
          }
        }
      }
      .create {
        max-height: 220px;
        min-height: 220px;
        flex-wrap: nowrap;
        .card-body {
          text-align: center;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.card-header,
.card-footer {
  background-color: rgba(0, 0, 0, 0.05); // Very light gray
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  b {
    margin-left: 5px;
  }
  input {
    margin-left: 5px;
  }
  .addDate {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.messageContainer {
  position: fixed; // Fix the container to the top of the viewport
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 1000; // Ensure it's above other elements
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; // Center messages horizontally

  .alert {
    width: 30%; // Adjust width as needed
    margin-bottom: 5px; // Spacing between messages
    text-align: center;
    // opacity: 0; // Initially hidden
    transform: translateY(-20px); // Start slightly above their final position
    transition: opacity 0.3s ease, transform 0.3s ease; // Add transition

    &.show {
      opacity: 1; // Fade in
      transform: translateY(0); // Move to final position
    }
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .topBanner {
    height: 60px;
  }

  .topBanner .logo-container img {
    max-height: 50px;
  }

  /* Example: Adjust statistic container padding*/
  .statisticContainer {
    padding: 20px;
  }

  .mainContainer {
    flex-direction: column;
    .create {
      min-height: auto;
    }
    .list {
      width: 100%;
    }
  }
}

@media (max-width: 830px) {
  body {
    max-width: 830px;
  }
  .App .appBody .mainContainer .list .list-group-item .scooterDetails {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .App .appBody .mainContainer .list .list-group-item .scooterDetails .isBusy,
  .App
    .appBody
    .mainContainer
    .list
    .list-group-item
    .scooterDetails
    .lastUseTime,
  .App
    .appBody
    .mainContainer
    .list
    .list-group-item
    .scooterDetails
    .totalRideKilometers {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
  }
}
