@import "~bootstrap/scss/bootstrap";

$primary: #6366f1; // Indigo/Violet
$secondary: #a5b4fc; // Light Indigo
$success: #48bb78; // Softer Green
$danger: #e53e3e; // Muted Red
$warning: #f6ad55; // Warm Orange-Yellow
$light-gray: #f3f4f6; // Light Gray
$dark-gray: #4a5568; // Dark Gray

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  min-width: 430px;
}
@include media-breakpoint-down(md) {
  body {
    max-width: 430px;
  }
}
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;

  .topBanner {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background: linear-gradient(135deg, #6366f1, #a5b4fc);
    .logo-container {
      img {
        width: 65px;
        height: 65px;
      }
    }
    .btn-close {
      box-shadow: none;
      border: none;
      background-color: transparent;
      width: 45px;
      height: 45px;
      min-width: 0;
      padding: 0;
    }
    .btn-close:hover {
      box-shadow: none;
      border: none;
      background-color: transparent;
    }
  }
  .appBody {
    width: 70%;

    @include media-breakpoint-down(md) {
      width: 85%;
      padding-bottom: 20px;
    }
    .heroContainer {
      background-size: cover;
      background-repeat: no-repeat;

      // Default background position (for smaller screens)
      background-position: center;

      // Adjust background position for medium screens and above
      @include media-breakpoint-up(md) {
        background-position: 20% 50%; // Example values
      }

      // Further adjust for larger screens
      @include media-breakpoint-up(lg) {
        background-position: 30% 50%; // Example values
      }

      .statisticContainer {
        display: flex;
        flex-wrap: wrap; // Allow items to wrap on smaller screens
        justify-content: space-around;
        padding: 20px;

        .statisticsTable,
        .pieChart {
          width: 100%; // Full width on small screens
          margin-bottom: 20px;
          box-sizing: border-box;
          background-color: rgba(224, 221, 221, 0.8);
          border-radius: 10px;
        }

        .statisticsTable {
          padding: 20px;
          background-color: rgba(224, 221, 221, 0.8);
          p {
            margin-bottom: 10px;
            font-size: 16px;
          }
        }

        .pieChart {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          svg {
            overflow: visible;
            .free {
              background-color: $success; // Use success green
            }

            .busy {
              background-color: $danger; // Use danger red
            }
          }
          .legend {
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: 10px;
            padding-bottom: 5px;
            background-color: rgba(224, 221, 221, 0.8);
            border-radius: 4px;

            div {
              display: flex;
              align-items: center;
              margin: 0 15px;
              font-size: 14px;

              div {
                width: 15px;
                height: 15px;
                margin-left: 5px;
              }
            }

            .busy {
              background-color: red; // Or your busy color
            }

            .free {
              background-color: green; // Or your free color
            }
          }
        }

        // Medium screens and above
        @include media-breakpoint-up(md) {
          flex-wrap: nowrap; // Prevent wrapping
          .statisticsTable,
          .pieChart {
            width: 48%; // Adjust as needed
            margin-bottom: 0;
          }
          .statisticsTable {
            p {
              font-size: 18px;
            }
          }
          .pieChart {
            .legend {
              div {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .mainContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      gap: 16px;
      width: 100%;
      overflow: visible;
      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: flex-start;
      }

      .create {
        min-width: 370px;
        min-height: 200px;
        .card-header {
          display: flex;
          justify-content: center;
          h5 {
            font-weight: 700;
          }
        }
        .card-body {
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            margin: 0;
          }
        }
        .create-footer {
          display: flex;
          justify-content: center;
          button {
            min-width: 68px;
          }
        }
      }
      .list {
        .list-header {
          h5 {
            font-weight: 700;
            text-align: center;
          }
          .sortContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              margin: 0;
            }
            .sortBtnContainer {
              display: flex;
              button {
                min-width: 114px;
                box-sizing: border-box;
              }
            }
          }
          @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
              margin: 0;
            }
            .sortContainer {
              flex-direction: row;
            }
          }
        }
        .list-group-flush {
          .list-group-item {
            .registrationCode {
              gap: 5px;
              .codeContainer {
                p {
                  margin: 0;
                  margin-bottom: 5px;
                }
                display: flex;
                div {
                  margin-left: 3px;
                }
              }
            }
            .scooterDetails {
              div {
                display: flex;
                align-items: center;
                gap: 5px;
                margin: 5px;
                p {
                  margin: 0;
                }
              }
              .btnContainer {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 0;
                button {
                  min-width: 110px;
                }
              }
              .availability {
                width: 15px;
                height: 15px;
                border-radius: 10px;
              }
            }
            @include media-breakpoint-up(md) {
              .registrationCode {
                display: flex;
                justify-content: space-around;
              }
              .scooterDetails {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .btnContainer {
                  width: fit-content;
                  flex-direction: row;
                  gap: 3px;
                  button {
                    margin: 0;
                  }
                }
                div {
                  flex-direction: column;
                }
              }
            }
          }
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        @include media-breakpoint-up(md) {
          min-width: 590px;
        }
      }
    }
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex;

  .modal-dialog-centered {
    width: 90%;
    .mb-3 {
      .form-label {
        margin-right: 3px;
      }
      .lastUseDate-text {
        display: flex;
        gap: 3px;
      }
    }
  }
}
.messageContainer {
  position: fixed; // Fix the container to the top of the viewport
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 1000; // Ensure it's above other elements
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; // Center messages horizontally

  .alert {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.show {
      opacity: 1; // Fade in
      transform: translateY(0); // Move to final position
    }
    .btn-close {
      box-shadow: none;
    }
  }
}
